.header {
	font-size: 1.5rem;

	background-color: $primary-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
		&-box {
			width: 10rem;
			padding: 0.7rem;
			margin-left: 2rem;
		}
		&-img {
			width: 100%;
			border-radius: 50%;
		}
	}

	.nav-container {
		padding: 1rem;
		.nav {
			&-list {
				display: flex;
				list-style: none;
			}
			&-item {
				font-weight: 600;
				text-transform: capitalize;
				padding: 1rem;
				position: relative;
				cursor: pointer;
				&:not(:last-child) {
					margin-left: 1.2rem;
				}

				&::after {
					content: "";
					height: 0.3rem;
					background-color: black;
					width: 0%;
					position: absolute;
					bottom: 5px;
					left: 0;
					border-radius: 1rem;
				}

				&:hover::after {
					width: 100%;
					transition: all 0.3s;
				}
			}
		}
	}
}
